/* https://www.kreativekorp.com/software/fonts/apple2/ */

@font-face {
  font-family: bbs;
  src: url('fonts/BBSesque.ttf');
}

@font-face {
  font-family: apple2;
  src: url('fonts/PrintChar21.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'apple2';
  background: black;
  color:#00ff00; /* #0dff00 */
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
}

h1 {
  align-self: center;
  transform: translateY(-30px);
  font-size: 2rem;
}

.banner {
  align-self: center;
  width: 100%;
  font-size: 1rem;
  white-space: pre-line;
}

.banner2 {
  align-self: center;
  width: 100%;
  font-size: 1rem;
  white-space: pre-line;
}

.board {
  font-size: 2.5rem;
  width:fit-content;
  height: fit-content;
  border: 1px solid;
  margin-top: 30px;
  /* transform: translateY(20px); */
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  display: grid;
  align-items: center;
  width: 140px;
  height: 140px;
  border: 1px solid;
  font-size: 2.6rem;
  text-align: center;
}