/* https://www.kreativekorp.com/software/fonts/apple2/ */

@font-face {
  font-family: bbs;
  src: url('fonts/BBSesque.ttf');
}

@font-face {
  font-family: apple2;
  src: url('fonts/PrintChar21.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'apple2';
  background: black;
  color:rgb(13, 255, 0);
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

h1 {
  align-self: center;
  transform: translateY(-70px);
  font-size: 2.2rem;
}

.banner {
  align-self: center;
  width: 100%;
  font-size: 1.2rem;
}

.board {
  font-size: 2.5rem;
  width:fit-content;
  height: fit-content;
  border: 1px solid;
  margin-top: 30px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  display: grid;
  align-items: center;
  width: 130px;
  height: 130px;
  border: 1px solid;
  font-size: 3.4rem;
  text-align: center;
}